.nice-select {
  -webkit-tap-highlight-color: transparent;
  background-color: #fff;
  border-radius: 5px;
  border: solid 1px #e8e8e8;
  box-sizing: border-box;
  clear: both;
  cursor: pointer;
  display: block;
  float: left;
  font-family: inherit;
  font-size: 14px;
  font-weight: normal;
  height: 42px;
  line-height: 40px;
  outline: none;
  padding-left: 18px;
  padding-right: 30px;
  position: relative;
  text-align: left !important;
  transition: all 0.2s ease-in-out;
  user-select: none;
  white-space: nowrap;
  width: auto;
}

.nice-select:hover {
  border-color: #dbdbdb;
}

.nice-select:active, .nice-select.open, #section-reservations .reservations__info-block .nice-select.form__block_select.open, .nice-select:focus {
  border-color: #999;
}

.nice-select:after {
  border-bottom: 2px solid #999;
  border-right: 2px solid #999;
  content: '';
  display: block;
  height: 5px;
  margin-top: -4px;
  pointer-events: none;
  position: absolute;
  right: 12px;
  top: 50%;
  transform-origin: 66% 66%;
  transform: rotate(45deg);
  transition: all 0.15s ease-in-out;
  width: 5px;
}

.nice-select.open:after {
  transform: rotate(-135deg);
}

.nice-select.open .list {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1) translateY(0);
}

.nice-select.disabled {
  border-color: #ededed;
  color: #999;
  pointer-events: none;
}

.nice-select.disabled:after {
  border-color: #cccccc;
}

.nice-select.wide {
  width: 100%;
}

.nice-select.wide .list {
  left: 0 !important;
  right: 0 !important;
}

.nice-select.right {
  float: right;
}

.nice-select.right .list {
  left: auto;
  right: 0;
}

.nice-select.small {
  font-size: 12px;
  height: 36px;
  line-height: 34px;
}

.nice-select.small:after {
  height: 4px;
  width: 4px;
}

.nice-select.small .option {
  line-height: 34px;
  min-height: 34px;
}

.nice-select .list {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 0 1px rgba(68, 68, 68, 0.11);
  box-sizing: border-box;
  margin-top: 4px;
  opacity: 0;
  overflow: hidden;
  padding: 0;
  pointer-events: none;
  position: absolute;
  top: 100%;
  left: 0;
  transform-origin: 50% 0;
  transform: scale(0.75) translateY(-21px);
  transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
  z-index: 9;
}

.nice-select .list:hover .option:not(:hover) {
  background-color: transparent !important;
}

.nice-select .option {
  cursor: pointer;
  font-weight: 400;
  line-height: 40px;
  list-style: none;
  min-height: 40px;
  outline: none;
  padding-left: 18px;
  padding-right: 29px;
  text-align: left;
  transition: all 0.2s;
}

.nice-select .option:hover, .nice-select .option.focus, .nice-select .option.selected.focus {
  background-color: #f6f6f6;
}

.nice-select .option.selected {
  font-weight: bold;
}

.nice-select .option.disabled {
  background-color: transparent;
  color: #999;
  cursor: default;
}

.no-csspointerevents .nice-select .list {
  display: none;
}

.no-csspointerevents .nice-select.open .list {
  display: block;
}

@font-face {
  font-family: Yeseva;
  src: url(../fonts/YesevaOne-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: Gentium;
  src: url(../fonts/GenBkBasB.ttf);
  font-weight: 700;
}

@font-face {
  font-family: Gentium;
  src: url(../fonts/GenBkBasR.ttf);
  font-weight: 400;
}

@font-face {
  font-family: Lato;
  src: url(../fonts/Lato/Lato-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: Lato;
  src: url(../fonts/Lato/Lato-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: Lato;
  src: url(../fonts/Lato/Lato-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: Open Sans;
  src: url(../fonts/open_sans/OpenSans-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: Open Sans;
  src: url(../fonts/open_sans/OpenSans-Regular.ttf);
  font-weight: 400;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: Open Sans, Arial sans-serif;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow-x: hidden;
}

.section-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.section-title .section-title__heading {
  margin: 0;
  font-family: Yeseva;
  font-size: 36px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 15px;
}

.section-title .section-title__heading_white {
  color: #fff;
}

.section-title .section-title__heading_yellow {
  color: #cc9900;
}

p {
  margin: 0 auto;
  margin-top: 30px;
  width: 80%;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  text-align: center;
}

header {
  width: 100%;
  background: url(../img/header__bg.jpg) no-repeat center/cover;
  padding-bottom: 140px;
}

header .logo-menu__block {
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.9)), to(transparent));
  background: linear-gradient(rgba(0, 0, 0, 0.9), transparent);
}

header .logo-menu__block .header-logo {
  height: 92px;
}

header .logo-menu__block .menu-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

header .logo-menu__block .menu-icons .header-menu .toggler-icon {
  display: none;
}

header .logo-menu__block .menu-icons .header-menu .nav-bar {
  margin: 0;
  padding: 0;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .logo-menu__block .menu-icons .header-menu .nav-bar .nav-item {
  position: relative;
  list-style: none;
  margin-left: 50px;
  padding-top: 30px;
  margin-bottom: 40px;
  border-top: 3px solid transparent;
}

header .logo-menu__block .menu-icons .header-menu .nav-bar .nav-item::after {
  position: absolute;
  top: 0;
  content: '';
  display: block;
  width: 0;
  height: 3px;
  background: #cc9900;
  -webkit-transition: width .3s;
  transition: width .3s;
}

header .logo-menu__block .menu-icons .header-menu .nav-bar .nav-item:first-child {
  margin-left: 0;
}

header .logo-menu__block .menu-icons .header-menu .nav-bar .nav-item:hover::after {
  width: 100%;
}

header .logo-menu__block .menu-icons .header-menu .nav-bar .nav-item .nav-link {
  padding: 0;
  font-family: Gentium;
  font-size: 21px;
  font-weight: 700;
  color: #fff;
  -webkit-transition: all, 0.3s;
  transition: all, 0.3s;
}

header .logo-menu__block .menu-icons .header-menu .nav-bar .nav-item .nav-link:hover {
  color: #cc9900;
}

header .section-title {
  margin-top: 120px;
  margin-bottom: 35px;
}

header .section-title .section-title__heading {
  font-size: 68px;
  margin-bottom: 30px;
}

header .header-btn {
  position: relative;
  width: 230px;
  padding: 23px 0;
  font-family: Lato;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: all, 0.5s !important;
  transition: all, 0.5s !important;
}

header .header-btn:hover {
  color: #cc9900;
}

header .header-btn_black {
  border: 1px solid #000;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
}

header .header-btn_black:hover {
  background: #000;
}

header .header-btn_white {
  border: 1px solid #fff;
  background: rgba(255, 255, 255, 0.5);
  color: #000;
  margin-left: 30px;
}

header .header-btn_white:hover {
  background: #fff;
}

.social-icons {
  margin-left: 15px;
  margin-bottom: 8px;
}

.social-icons a {
  margin-left: 5px;
  color: #fff;
  -webkit-transition: all, 0.3s;
  transition: all, 0.3s;
}

.social-icons a:hover {
  color: #cc9900;
}

.social-icons a i {
  font-size: 20px;
}

@media only screen and (max-width: 1199px) {
  header {
    padding-bottom: 120px;
  }
  header .logo-menu__block .menu-icons .header-menu .nav-bar .nav-item {
    margin-left: 35px;
  }
  header .section-title {
    margin-top: 100px;
  }
  header .section-title .section-title__heading {
    font-size: 57px;
  }
}

@media only screen and (max-width: 991px) {
  header {
    padding-bottom: 89px;
  }
  header .logo-menu__block .menu-icons {
    width: 50%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  header .logo-menu__block .menu-icons .header-menu {
    position: relative;
  }
  header .logo-menu__block .menu-icons .header-menu .toggler-icon {
    display: inline-block;
    color: #fff;
    font-size: 30px;
    cursor: pointer;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: all, 0.5s;
    transition: all, 0.5s;
  }
  header .logo-menu__block .menu-icons .header-menu .toggler-icon:hover {
    color: #cc9900;
  }
  header .logo-menu__block .menu-icons .header-menu .nav-bar {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100vw;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 10;
    background: rgba(0, 0, 0, 0.8);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.9)), to(rgba(0, 0, 0, 0.7)));
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7));
  }
  header .logo-menu__block .menu-icons .header-menu .nav-bar .nav-item {
    position: relative;
    margin-left: 0;
    padding-top: 20px;
    margin-bottom: 0;
    border-top: none;
    padding-bottom: 20px;
  }
  header .logo-menu__block .menu-icons .header-menu .nav-bar .nav-item::after {
    position: relative;
    content: '';
    display: block;
    width: 0;
    margin: 0 auto;
    height: 2px;
    background: #cc9900;
    -webkit-transition: width .5s;
    transition: width .5s;
  }
  header .logo-menu__block .menu-icons .header-menu .nav-bar .nav-item:hover {
    background: #000;
  }
  header .logo-menu__block .menu-icons .header-menu .nav-bar .nav-item:hover::after {
    width: 100%;
  }
  header .logo-menu__block .menu-icons .header-menu .nav-bar .nav-item .nav-link {
    color: #fff;
    text-align: center;
  }
  header .section-title .section-title__heading {
    font-size: 42px;
    margin-bottom: 20px;
  }
  header .header-btn {
    width: 160px;
    padding: 11px 0;
  }
  .section-title .section-title__heading {
    font-size: 32px;
  }
  .section-title img {
    width: 225px;
  }
  p {
    font-size: 14px;
    margin-top: 25px;
  }
}

@media only screen and (max-width: 576px) {
  header {
    padding-bottom: 53px;
  }
  header .logo-menu__block .header-logo {
    height: 70px;
    margin-left: 5px;
  }
  header .logo-menu__block .menu-icons .header-menu .toggler-icon {
    font-size: 26px;
  }
  header .logo-menu__block .menu-icons .header-menu .nav-bar .nav-item {
    padding-top: 15px;
    padding-bottom: 10px;
  }
  header .section-title .section-title__heading {
    font-size: 27px;
    margin-bottom: 15px;
  }
  header .header-btn {
    width: 140px;
    padding: 8px 0;
    font-size: 16px;
  }
  header .header-btn_white {
    margin-left: 10px;
  }
  .social-icons {
    margin-left: 0;
    margin-right: 10px;
  }
  .social-icons a {
    margin-left: 5px;
  }
  .social-icons a i {
    font-size: 18px;
  }
  .section-title .section-title__heading {
    font-size: 26px;
    margin-bottom: 10px;
  }
  .section-title img {
    width: 200px;
  }
}

#section-about {
  width: 100%;
  background: url(../img/section-about__bg.jpg) no-repeat center/cover;
  padding: 50px 0;
}

#section-about .section-about__info {
  text-align: center;
}

#section-about .section-about__info p {
  width: 90%;
  color: #4c4c4c;
}

#section-about .section-about__info .section-about__cook {
  margin-top: 50px;
  -webkit-transform: translateX(17%);
  transform: translateX(17%);
}

#section-about .section-about__dish {
  width: 100%;
}

@media only screen and (max-width: 991px) {
  #section-about {
    padding: 43px 0;
  }
  #section-about .section-about__info .section-about__cook {
    margin-top: 40px;
  }
  #section-about .section-about__dish {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 767px) {
  #section-about {
    padding: 40px 0;
  }
  #section-about .section-about__dish {
    margin-top: 25px;
  }
}

@media only screen and (max-width: 567px) {
  #section-about {
    padding: 35px 0;
  }
  #section-about .section-about__dish {
    margin-top: 20px;
  }
}

#section-ingredients {
  width: 100%;
  background: url(../img/section-ingredients__bg.jpg) no-repeat center/cover;
  padding: 100px 0;
  background-attachment: fixed;
}

#section-ingredients .ingredients-block {
  padding: 75px 0;
  background: rgba(0, 0, 0, 0.7);
}

#section-ingredients .ingredients-block .ingredients {
  width: 68%;
  margin: 0 auto;
  margin-top: 70px;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

#section-ingredients .ingredients-block .ingredients img {
  display: inline-block;
}

@media only screen and (max-width: 1199px) {
  #section-ingredients {
    padding: 80px 0;
  }
  #section-ingredients .ingredients-block {
    padding: 60px 0;
  }
  #section-ingredients .ingredients-block .ingredients {
    width: 78%;
    margin-top: 60px;
  }
}

@media only screen and (max-width: 991px) {
  #section-ingredients {
    background-attachment: scroll;
  }
}

@media only screen and (max-width: 767px) {
  #section-ingredients {
    padding: 60px 0;
  }
  #section-ingredients .ingredients-block {
    padding: 45px 0;
  }
  #section-ingredients .ingredients-block .ingredients {
    margin-top: 50px;
  }
}

@media only screen and (max-width: 567px) {
  #section-ingredients {
    padding: 50px 0;
  }
  #section-ingredients .ingredients-block {
    padding: 40px 0;
  }
  #section-ingredients .ingredients-block .ingredients {
    width: 90%;
    margin-top: 40px;
  }
  #section-ingredients .ingredients-block .ingredients img {
    width: 80px;
    height: 80px;
  }
}

#section-menu {
  width: 100%;
  background: url(../img/section-menu__bg.jpg) no-repeat center/cover;
  padding-top: 70px;
  padding-bottom: 60px;
}

#section-menu .menu-block {
  margin-top: 30px;
}

#section-menu .menu-block .section-title {
  margin-bottom: 40px;
}

#section-menu .menu-block .menu__dish {
  margin-bottom: 40px;
  position: relative;
}

#section-menu .menu-block .menu__dish_title {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: 1px solid #cc9900;
}

#section-menu .menu-block .menu__dish_title h3 {
  color: #cc9900;
  font-size: 21px;
  font-weight: 400;
  font-family: Yeseva;
}

#section-menu .menu-block .menu__dish_discr p {
  color: #000;
  margin: 0;
  margin-top: 15px;
  text-align: left;
  width: 100%;
  font-size: 14px;
}

#section-menu .menu-block .menu__dish .special {
  position: absolute;
  width: 110%;
  height: 130%;
  top: -10%;
  left: -5%;
  border: 1px solid #cc9900;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

#section-menu .menu-block .menu__dish .special-block {
  width: 69px;
  height: 21px;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  background: #cc9900;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  margin-top: -21px;
  margin-right: -1px;
}

#section-menu .menu-block_04 {
  margin-top: -76px;
}

@media only screen and (max-width: 1199px) {
  #section-menu {
    padding-top: 50px;
    padding-bottom: 40px;
  }
  #section-menu .menu-block .menu__dish .special {
    height: 120%;
  }
  #section-menu .menu-block_04 {
    margin-top: -100px;
  }
}

@media only screen and (max-width: 991px) {
  #section-menu {
    padding-top: 30px;
    padding-bottom: 20px;
  }
  #section-menu .menu-block .menu__dish .special {
    width: 104%;
    left: -2%;
  }
  #section-menu .menu-block_04 {
    margin-top: 30px;
  }
}

#section-reviews {
  width: 100%;
  background: url(../img/section-reviews__bg.jpg) no-repeat center/cover;
  padding: 100px 0;
  background-attachment: fixed;
}

#section-reviews .review-block {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 80px 70px 100px 70px;
  background: rgba(0, 0, 0, 0.8);
}

#section-reviews .review-block q {
  margin-top: 30px;
  font-family: Gentium;
  font-size: 24px;
  font-weight: 700;
  color: #dde0df;
  text-align: center;
}

#section-reviews .review-block span {
  margin-top: 30px;
  font-family: Lato;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
}

@media only screen and (max-width: 991px) {
  #section-reviews {
    padding: 75px 0;
    background-attachment: scroll;
  }
  #section-reviews .review-block {
    padding: 70px 60px 80px 60px;
  }
  #section-reviews .review-block q {
    margin-top: 25px;
    font-size: 20px;
  }
  #section-reviews .review-block span {
    margin-top: 25px;
    font-size: 16px;
  }
}

@media only screen and (max-width: 767px) {
  #section-reviews {
    padding: 50px 0;
  }
  #section-reviews .review-block {
    padding: 50px 40px 60px 40px;
  }
  #section-reviews .review-block q {
    margin-top: 20px;
    font-size: 17px;
  }
  #section-reviews .review-block span {
    margin-top: 20px;
    font-size: 13px;
  }
}

#section-reservations {
  width: 100%;
  background: url(../img/section-about__bg.jpg) no-repeat center/cover;
  padding: 100px 0;
}

#section-reservations .reservations {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

#section-reservations .reservations__image-block {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0;
}

#section-reservations .reservations__image-block img {
  height: 520px;
}

#section-reservations .reservations__image-block #third-image {
  display: none;
}

#section-reservations .reservations__info-block .section-title {
  margin-bottom: 20px;
}

#section-reservations .reservations__info-block p {
  color: #000;
  margin-top: 10px;
  width: 95%;
}

#section-reservations .reservations__info-block .form {
  width: inherit;
  margin-top: 40px;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

#section-reservations .reservations__info-block .form__block {
  width: 48%;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 30px;
}

#section-reservations .reservations__info-block .form__block span {
  font-size: 14px;
  font-weight: 700;
  color: #cc9900;
  margin-bottom: 5px;
}

#section-reservations .reservations__info-block .form__block input {
  width: 100%;
  height: 35px;
  padding-left: 15px;
  font-size: 16px;
  font-family: Open Sans;
  font-style: italic;
  font-weight: 400;
  color: #7c7c7c;
  outline-color: #cc9900;
  border: 1px solid #c8c6c6;
}

#section-reservations .reservations__info-block .form__block_input {
  position: relative;
}

#section-reservations .reservations__info-block .form__block_input i {
  position: absolute;
  right: 5%;
  top: 25%;
}

#section-reservations .reservations__info-block .form__block_select {
  height: 35px;
  border: 1px solid #c8c6c6;
  border-radius: 0;
  padding: 0;
  padding-left: 15px;
  font-size: 16px;
  font-style: italic;
  color: #7c7c7c;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#section-reservations .reservations__info-block .form__block_select:active, #section-reservations .reservations__info-block .form__block_select.open, #section-reservations .reservations__info-block .form__block_select:focus {
  border-color: #cc9900;
  color: #7c7c7c;
}

#section-reservations .reservations__info-block .form__block_select .current {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  color: #7c7c7c;
}

#section-reservations .reservations__info-block .form__block_select:after {
  border-bottom: 1px solid #999;
  border-right: 1px solid #999;
  height: 7px;
  width: 7px;
}

#section-reservations .reservations__info-block .form__block_select.open:after {
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

#section-reservations .reservations__info-block .form__block_select .list {
  width: 100%;
}

#section-reservations .reservations__info-block .form__block_select .option {
  padding-left: 15px;
}

#section-reservations .reservations__info-block .form__block_select .option:hover, #section-reservations .reservations__info-block .form__block_select .option.focus, #section-reservations .reservations__info-block .form__block_select .option.selected.focus {
  background-color: #dddddd;
}

#section-reservations .reservations__info-block .form__block_select .option.selected {
  font-weight: 400;
}

#section-reservations .reservations__info-block .book-now__btn {
  margin: 0 auto;
  margin-top: 5px;
  text-align: center;
  width: 48%;
  padding: 10px 0;
  background: #cc9900;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  cursor: pointer;
  -webkit-transition: all, .7s;
  transition: all, .7s;
}

#section-reservations .reservations__info-block .book-now__btn:hover {
  background: #ffbf00;
  color: #000;
}

@media only screen and (max-width: 1199px) {
  #section-reservations {
    padding: 70px 0;
  }
  #section-reservations .reservations__image-block {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  #section-reservations .reservations__image-block div {
    width: 30%;
  }
  #section-reservations .reservations__image-block div img {
    width: 100%;
    height: auto;
  }
  #section-reservations .reservations__image-block #third-image {
    display: inline-block;
  }
  #section-reservations .reservations__info-block {
    padding: 0 50px;
    margin-top: 30px;
  }
  #section-reservations .reservations__info-block .book-now__btn {
    width: 25%;
  }
}

@media only screen and (max-width: 767px) {
  #section-reservations {
    padding: 50px 0;
  }
  #section-reservations .reservations__info-block {
    padding: 0 15px;
    margin-top: 30px;
  }
  #section-reservations .reservations__info-block .book-now__btn {
    width: 30%;
  }
}

@media only screen and (max-width: 567px) {
  #section-reservations {
    padding: 30px 0;
  }
  #section-reservations .reservations__info-block {
    padding: 0 15px;
    margin-top: 30px;
  }
  #section-reservations .reservations__info-block .form {
    margin-top: 30px;
  }
  #section-reservations .reservations__info-block .form__block {
    width: 98%;
    margin-bottom: 20px;
  }
  #section-reservations .reservations__info-block .book-now__btn {
    width: 130px;
  }
}

footer {
  width: 100%;
  padding: 50px 0;
  background: #000;
}

footer .footer-block {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

footer .footer-block__column {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

footer .footer-block__column .section-title {
  margin-bottom: 20px;
}

footer .footer-block__column .section-title__heading {
  font-size: 21px;
}

footer .footer-block__column .section-title img {
  width: 195px;
}

footer .footer-block__column p {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}

footer .footer-block__column p span {
  font-weight: 700;
}

footer .footer-block__column .payments {
  width: 75%;
  margin-top: 30px;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

footer .footer-block__column .payments img {
  width: 35px;
  height: 24px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: all, .5s;
  transition: all, .5s;
}

footer .footer-block__column .payments img:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

footer .footer-block__column .social-icons {
  margin-left: 0;
  margin-top: 25px;
}

footer .footer-block__column .social-icons a:first-child {
  margin-left: 0;
}

@media only screen and (max-width: 1199px) {
  footer .footer-block__column p {
    font-size: 13px;
  }
}

@media only screen and (max-width: 991px) {
  footer {
    padding: 0;
    padding-bottom: 30px;
  }
  footer .footer-block__column {
    margin-top: 50px;
  }
  footer .footer-block__column p {
    font-size: 14px;
    width: 70%;
  }
  footer .footer-block__column .payments {
    width: 25%;
  }
}

@media only screen and (max-width: 767px) {
  footer {
    padding-bottom: 20px;
  }
  footer .footer-block__column {
    margin-top: 30px;
  }
  footer .footer-block__column p {
    font-size: 12px;
    width: 80%;
  }
  footer .footer-block__column .payments {
    width: 33%;
  }
}

@media only screen and (max-width: 567px) {
  footer .footer-block__column .payments {
    width: 160px;
  }
}
