// to compile...

@import "./nice-select.scss";

@font-face {
  font-family: Yeseva;
  src: url(../fonts/YesevaOne-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: Gentium;
  src: url(../fonts/GenBkBasB.ttf);
  font-weight: 700;
}

@font-face {
  font-family: Gentium;
  src: url(../fonts/GenBkBasR.ttf);
  font-weight: 400;
}

@font-face {
  font-family: Lato;
  src: url(../fonts/Lato-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: Lato;
  src: url(../fonts/Lato-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: Lato;
  src: url(../fonts/Lato-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSans-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSans-Regular.ttf);
  font-weight: 400;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  //border: 1px solid red;
}

$yellow: #cc9900;

body {
  font-family: OpenSans, Arial sans-serif;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-x: hidden;
}

.section-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  .section-title__heading {
    margin: 0;
    font-family: Yeseva;
    font-size: 36px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 15px;
  }

  .section-title__heading_white {
    color: #fff;
  }

  .section-title__heading_yellow {
    color: $yellow;
  }
}

p {
  margin: 0 auto;
  margin-top: 30px;
  width: 80%;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  text-align: center;
}

// =========== Header ================

header {
  width: 100%;
  background: url(../img/header__bg.jpg) no-repeat center / cover;
  padding-bottom: 140px;
  background-attachment: fixed;

  .logo-menu__block {
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.9)), to(rgba(0, 0, 0, 0.0)));
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.0));

    .header-logo {
      height: 92px;
    }

    .menu-icons {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;

      .header-menu {
        .toggler-icon {
          display: none;
        }

        .nav-bar {
          margin: 0;
          padding: 0;
          display: -ms-flex;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;

          .nav-item {
            position: relative;
            list-style: none;
            margin-left: 50px;
            padding-top: 30px;
            margin-bottom: 40px;
            border-top: 3px solid transparent;

            &::after {
              position: absolute;
              top: 0;
              content: '';
              display: block;
              width: 0;
              height: 3px;
              background: $yellow;
              -webkit-transition: width .3s;
              transition: width .3s;
            }

            &:first-child {
              margin-left: 0;
            }

            &:hover {
              &::after {
                width: 100%;
              }
            }

            .nav-link {
              padding: 0;
              font-family: Gentium;
              font-size: 21px;
              font-weight: 700;
              color: #fff;
              -webkit-transition: all, 0.3s;
              transition: all, 0.3s;

              &:hover {
                color: $yellow;
              }
            }
          }
        }
      }
    }
  }

  .section-title {
    margin-top: 120px;
    margin-bottom: 35px;

    .section-title__heading {
      font-size: 68px;
      margin-bottom: 30px;
    }
  }

  .header-btn {
    position: relative;
    width: 230px;
    padding: 23px 0;
    font-family: Lato;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer;
    text-decoration: none;
    -webkit-transition: all, 0.5s !important;
    transition: all, 0.5s !important;

    &:hover {
      color: $yellow;
    }
  }

  .header-btn_black {
    border: 1px solid #000;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;

    &:hover {
      background: #000;
    }
  }

  .header-btn_white {
    border: 1px solid #fff;
    background: rgba(255, 255, 255, 0.5);
    color: #000;
    margin-left: 30px;

    &:hover {
      background: #fff;
    }
  }
}

.social-icons {
  margin-left: 15px;
  margin-bottom: 8px;

  a {
    margin-left: 5px;
    color: #fff;
    -webkit-transition: all, 0.3s;
    transition: all, 0.3s;

    &:hover {
      color: $yellow;
    }

    i {
      font-size: 20px;
    }
  }
}

@media only screen and (max-width : 1199px) {
  header {
    padding-bottom: 120px;

    .logo-menu__block {
      .menu-icons {
        .header-menu {
          .nav-bar {
            .nav-item {
              margin-left: 35px;
            }
          }
        }
      }
    }

    .section-title {
      margin-top: 100px;

      .section-title__heading {
        font-size: 57px;
      }
    }
  }
}

@media only screen and (max-width : 991px) {
  header {
    padding-bottom: 89px;
    background-attachment: scroll;

    .logo-menu__block {
      .menu-icons {
        width: 50%;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;

        .header-menu {
          position: relative;

          .toggler-icon {
            display: inline-block;
            color: #fff;
            font-size: 30px;
            cursor: pointer;
            -webkit-transform: translateX(-50%);
                    transform: translateX(-50%);
            -webkit-transition: all, 0.5s;
            transition: all, 0.5s;

            &:hover {
              color: $yellow;
            }
          }

          .nav-bar {
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            width: 100vw;
            -webkit-transform: translateX(-50%);
                    transform: translateX(-50%);
            z-index: 10;
            background: rgba(0, 0, 0, 0.8);
            background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.9)), to(rgba(0, 0, 0, 0.7)));
            background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7));

            .nav-item {
              position: relative;
              margin-left: 0;
              padding-top: 20px;
              margin-bottom: 0;
              border-top: none;
              padding-bottom: 20px;

              &::after {
                position: relative;
                content: '';
                display: block;
                width: 0;
                margin: 0 auto;
                height: 2px;
                background: $yellow;
                -webkit-transition: width .5s;
                transition: width .5s;
              }

              &:hover {
                background: #000;

                &::after {
                  width: 100%;
                }
              }

              .nav-link {
                color: #fff;
                text-align: center;
              }
            }
          }
        }
      }
    }

    .section-title {

      .section-title__heading {
        font-size: 42px;
        margin-bottom: 20px;
      }
    }

    .header-btn {
      width: 160px;
      padding: 11px 0;
    }
  }

  .section-title {
    .section-title__heading {
      font-size: 32px;
    }

    img {
      width: 225px;
    }
  }

  p {
    font-size: 14px;
    margin-top: 25px;
  }
}

@media only screen and (max-width : 576px) {
  header {
    padding-bottom: 53px;

    .logo-menu__block {
      .header-logo {
        height: 70px;
        margin-left: 5px;
      }

      .menu-icons {
        .header-menu {
          .toggler-icon {
            font-size: 26px;
          }

          .nav-bar {

            .nav-item {
              padding-top: 15px;
              padding-bottom: 10px;
            }
          }
        }
      }
    }

    .section-title {

      .section-title__heading {
        font-size: 27px;
        margin-bottom: 15px;
      }
    }

    .header-btn {
      width: 140px;
      padding: 8px 0;
      font-size: 16px;
    }

    .header-btn_white {
      margin-left: 10px;
    }
  }

  .social-icons {
    margin-left: 0;
    margin-right: 10px;

    a {
      margin-left: 5px;

      i {
        font-size: 18px;
      }
    }
  }

  .section-title {
    .section-title__heading {
      font-size: 26px;
      margin-bottom: 10px;
    }

    img {
      width: 200px;
    }
  }
}

// ============== Section About Us ============

#section-about {
  width: 100%;
  background: url(../img/section-about__bg.jpg) no-repeat center / cover;
  padding: 50px 0;

  .section-about__info {
    text-align: center;
    p {
      width: 90%;
      color: #4c4c4c;
    }

    .section-about__cook {
      margin-top: 50px;
      -webkit-transform: translateX(17%);
              transform: translateX(17%);
    }
  }

  .section-about__dish {
    width: 100%;
  }
}

@media only screen and (max-width : 991px) {
  #section-about {
    padding: 43px 0;

    .section-about__info {

      .section-about__cook {
        margin-top: 40px;
      }
    }

    .section-about__dish {
      margin-top: 30px;
    }
  }
}

@media only screen and (max-width : 767px) {
  #section-about {
    padding: 40px 0;

    .section-about__dish {
      margin-top: 25px;
    }
  }
}

@media only screen and (max-width : 567px) {
  #section-about {
    padding: 35px 0;

    .section-about__dish {
      margin-top: 20px;
    }
  }
}

// ============== Section Ingredients ==============

#section-ingredients {
  width: 100%;
  background: url(../img/section-ingredients__bg.jpg) no-repeat center / cover;
  padding: 100px 0;
  background-attachment: fixed;

  .ingredients-block {
    padding: 75px 0;
    background: rgba(0, 0, 0, 0.7);

    .ingredients {
      width: 68%;
      margin: 0 auto;
      margin-top: 70px;
      display: -ms-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;

      img {
        display: inline-block;
      }
    }
  }
}

@media only screen and (max-width : 1199px) {
  #section-ingredients {
    padding: 80px 0;

    .ingredients-block {
      padding: 60px 0;

      .ingredients {
        width: 78%;
        margin-top: 60px;
      }
    }
  }
}

@media only screen and (max-width : 991px) {
  #section-ingredients {
    background-attachment: scroll;
  }
}

@media only screen and (max-width : 767px) {
  #section-ingredients {
    padding: 60px 0;

    .ingredients-block {
      padding: 45px 0;

      .ingredients {
        margin-top: 50px;
      }
    }
  }
}

@media only screen and (max-width : 567px) {
  #section-ingredients {
    padding: 50px 0;

    .ingredients-block {
      padding: 40px 0;

      .ingredients {
        width: 90%;
        margin-top: 40px;

        img {
          width: 80px;
          height: 80px;
        }
      }
    }
  }
}

// =========== Section Menu ================

#section-menu {
  width: 100%;
  background: url(../img/section-menu__bg.jpg) no-repeat center / cover;
  padding-top: 70px;
  padding-bottom: 60px;

  .menu-block {
    margin-top: 30px;

    .section-title {
      margin-bottom: 40px;
    }

    .menu__dish {
      margin-bottom: 40px;
      position: relative;

      &_title {
        display: -ms-flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        border-bottom: 1px solid $yellow;

        h3 {
          color: $yellow;
          font-size: 21px;
          font-weight: 400;
          font-family: Yeseva;
        }
      }

      &_discr {
        p {
          color: #000;
          margin: 0;
          margin-top: 15px;
          text-align: left;
          width: 100%;
          font-size: 14px;
        }
      }

      .special {
        position: absolute;
        width: 110%;
        height: 130%;
        top: -10%;
        left: -5%;
        border: 1px solid $yellow;
        display: -ms-flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;

        &-block {
          width: 69px;
          height: 21px;
          display: -ms-flex;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          color: #fff;
          background: $yellow;
          font-family: Lato;
          font-size: 14px;
          font-weight: 400;
          margin-top: -21px;
          margin-right: -1px;
        }
      }
    }
  }

  .menu-block_04 {
    margin-top: -76px;
  }
}

@media only screen and (max-width : 1199px) {
  #section-menu {
    padding-top: 50px;
    padding-bottom: 40px;

    .menu-block {
      .menu__dish {
        .special {
          height: 120%;
        }
      }
    }

    .menu-block_04 {
      margin-top: -100px;
    }
  }
}

@media only screen and (max-width : 991px) {
  #section-menu {
    padding-top: 30px;
    padding-bottom: 20px;

    .menu-block {
      .menu__dish {
        .special {
          width: 104%;
          left: -2%;
        }
      }
    }

    .menu-block_04 {
      margin-top: 30px;
    }
  }
}

// ============== Section Reviews ===============

#section-reviews {
  width: 100%;
  background: url(../img/section-reviews__bg.jpg) no-repeat center / cover;
  padding: 100px 0;
  background-attachment: fixed;

  .review-block {
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 80px 70px 100px 70px;
    background: rgba(0, 0, 0, 0.8);

    q {
      margin-top: 30px;
      font-family: Gentium;
      font-size: 24px;
      font-weight: 700;
      color: #dde0df;
      text-align: center;
    }

    span {
      margin-top: 30px;
      font-family: Lato;
      font-size: 18px;
      font-weight: 700;
      color: #fff;
    }
  }
}

@media only screen and (max-width : 991px) {
  #section-reviews {
    padding: 75px 0;
    background-attachment: scroll;

    .review-block {
      padding: 70px 60px 80px 60px;

      q {
        margin-top: 25px;
        font-size: 20px;
      }

      span {
        margin-top: 25px;
        font-size: 16px;
      }
    }
  }
}

@media only screen and (max-width : 767px) {
  #section-reviews {
    padding: 50px 0;

    .review-block {
      padding: 50px 40px 60px 40px;

      q {
        margin-top: 20px;
        font-size: 17px;
      }

      span {
        margin-top: 20px;
        font-size: 13px;
      }
    }
  }
}

#section-reservations {
  width: 100%;
  background: url(../img/section-about__bg.jpg) no-repeat center / cover;
  padding: 100px 0;

  .reservations {
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    &__image-block {
      display: -ms-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      padding: 0;

      img {
        height: 520px;
      }

      #third-image {
        display: none;
      }
    }

    &__info-block {
      .section-title {
        margin-bottom: 20px;
      }

      p {
        color: #000;
        margin-top: 10px;
        width: 95%;
      }

      .form {
        width: inherit;
        margin-top: 40px;
        display: -ms-flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;

        &__block {
          width: 48%;
          display: -ms-flex;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
          margin-bottom: 30px;

          span {
            font-size: 14px;
            font-weight: 700;
            color: $yellow;
            margin-bottom: 5px;
          }

          input {
            width: 100%;
            height: 35px;
            padding-left: 15px;
            font-size: 16px;
            font-family: OpenSans;
            font-style: italic;
            font-weight: 400;
            color: #7c7c7c;
            outline-color: $yellow;
            border: 1px solid #c8c6c6;
          }

          input[type="date"] {
            -webkit-appearance: none;
               -moz-appearance: none;
                    appearance: none;
            padding: 5px 5px 5px 15px;
            display: inline-block !important;
            visibility: visible !important;
            position: relative;

            &:before {
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-align: center;
                  -ms-flex-align: center;
                      align-items: center;
              padding-left: 15px;
              content: 'date *';
              width: 100%;
              height: 100%;
              position: absolute;
              top: 0;
              left: 0;
              background: #fff;
              z-index: 10;
            }

            &:hover {
              &::before {
                display: none;
                z-index: -1;
              }
            }
          }

          &_input {
            position: relative;

            .svg-inline--fa {
              position: absolute;
              right: 5%;
              top: 25%;
              z-index: 10;
            }

            &:hover {
              .svg-inline--fa {
                display: none;
              }
            }
          }

          &_select {
            height: 35px;
            border: 1px solid #c8c6c6;
            border-radius: 0;
            padding: 0;
            padding-left: 15px;
            font-size: 16px;
            font-style: italic;
            color: #7c7c7c;
            display: -ms-flex;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;

            &:active, &:focus {
              border-color: $yellow;
              color: #7c7c7c;
            }

            .current {
              font-family: OpenSans;
              font-size: 16px;
              font-weight: 400;
              color: #7c7c7c;
            }

            &:after {
              border-bottom: 1px solid $arrow_color;
              border-right: 1px solid $arrow_color;
              height: 7px;
              width: 7px;
            }

            &.open {
              @extend :active;
              &:after {
                -webkit-transform: rotate(-135deg);
                        transform: rotate(-135deg);
              }
            }

            .list {
              width: 100%;
            }

            .option {
              padding-left: 15px;
              &:hover, &.focus, &.selected.focus {
                background-color: darken(#f6f6f6, 10%);

              }
              &.selected {
                font-weight: 400;
              }
            }
          }
        }
      }

      .book-now__btn {
        margin: 0 auto;
        margin-top: 5px;
        text-align: center;
        width: 48%;
        padding: 10px 0;
        background: $yellow;
        font-size: 16px;
        font-weight: 400;
        color: #fff;
        cursor: pointer;
        -webkit-transition: all, .7s;
        transition: all, .7s;

        &:hover {
          background: lighten($yellow, 10%);
          color: #000;
        }
      }
    }
  }
}

@media only screen and (max-width : 1199px) {
  #section-reservations {
    padding: 70px 0;

    .reservations {
      &__image-block {
        -ms-flex-pack: distribute;
            justify-content: space-around;

        div {
          width: 30%;

          img {
            width: 100%;
            height: auto;
          }
        }

        #third-image {
          display: inline-block;
        }
      }

      &__info-block {
        padding: 0 50px;
        margin-top: 30px;

        .book-now__btn {
          width: 25%;
        }
      }
    }
  }
}

@media only screen and (max-width : 767px) {
  #section-reservations {
    padding: 50px 0;

    .reservations {

      &__info-block {
        padding: 0 15px;
        margin-top: 30px;

        .book-now__btn {
          width: 30%;
        }
      }
    }
  }
}

@media only screen and (max-width : 567px) {
  #section-reservations {
    padding: 30px 0;

    .reservations {

      &__info-block {
        padding: 0 15px;
        margin-top: 30px;

        .form {
          margin-top: 30px;

          &__block {
            width: 98%;
            margin-bottom: 20px;
          }
        }

        .book-now__btn {
          width: 130px;
        }
      }
    }
  }
}

footer {
  width: 100%;
  padding: 50px 0;
  background: #000;

  .footer-block {
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;

    &__column {
      display: -ms-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;

      .section-title {
        margin-bottom: 20px;

        &__heading {
          font-size: 21px;
        }

        img {
          width: 195px;
        }
      }

      p {
        font-family: OpenSans;
        font-size: 16px;
        font-weight: 400;
        margin: 0;

        span {
          font-weight: 700;
        }
      }

      .payments {
        width: 75%;
        margin-top: 30px;
        display: -ms-flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;

        img {
          width: 35px;
          height: 24px;
          -webkit-filter: grayscale(100%);
                  filter: grayscale(100%);
          -webkit-transition: all, .5s;
          transition: all, .5s;

          &:hover {
            -webkit-filter: grayscale(0%);
                    filter: grayscale(0%);
          }
        }
      }

      .social-icons {
        margin-left: 0;
        margin-top: 25px;

        a {
          &:first-child {
            margin-left: 0;
          }
        }
      }
    }
  }
}

@media only screen and (max-width : 1199px) {
  footer {
    .footer-block {
      &__column {
        p {
          font-size: 13px;
        }
      }
    }
  }
}

@media only screen and (max-width : 991px) {
  footer {
    padding: 0;
    padding-bottom: 30px;
    .footer-block {
      &__column {
        margin-top: 50px;

        p {
          font-size: 14px;
          width: 70%;
        }

        .payments {
          width: 25%;
        }
      }
    }
  }
}

@media only screen and (max-width : 767px) {
  footer {
    padding-bottom: 20px;
    .footer-block {
      &__column {
        margin-top: 30px;

        p {
          font-size: 12px;
          width: 80%;
        }

        .payments {
          width: 33%;
        }
      }
    }
  }
}

@media only screen and (max-width : 567px) {
  footer {
    .footer-block {
      &__column {

        .payments {
          width: 160px;
        }
      }
    }
  }
}
